---
layout: page
title: Latest Posts
excerpt: "Dream Factory is a final project in MFA."
search_omit: true
image:
  feature: p_h_index_feature.png
  credit: DreamFactory-home
  creditlink: http://tat306.github.io/DreamFactory
---

<ul class="post-list">
{% for post in site.posts limit:10 %} 
  <li><article><a href="{{ site.url }}{{ post.url }}">{{ post.title }} <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span>{% if post.excerpt %} <span class="excerpt">{{ post.excerpt }}</span>{% endif %}</a></article></li>
{% endfor %}
</ul>